<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Black Goose Bistro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>

<h1><img src="{{url_for('static', filename='blackgoose.png')}}">
    <br>
    Black Goose Bistro
</h1>

<h2>The Restaurant</h2>
<p>
    <a>The Black Goose Bistro offers casual lunch and dinner fare in a relaxed
        atmosphere. The menu changes regularly to highlight the freshest local
        ingredients.</a>
</p>

<h2>Catering</h2>

<p>
    You have fun. We'll handle the cooking. Black Goose Catering can handle
    events from snacks for a meetup to elegant corporate fundraisers.
</p>

<h2>Location and Hours</h2>
<p>
    Seekonk, Massachusetts;
    <br>Monday through Thursday 11am to 9pm;
    <br>Friday and Saturday, 11am to
    midnight.
</p>

<h2>Recipes to try</h2>
<p>
    <a href="recipes">Link to recipes</a>
</p>
<article>
    <header>
        <br>
        <h3>More about WOFF</h3>
        <p>by Jennifer Robbins,
            <time datetime="2017-11-11">November 11,
                2017
            </time>
        </p>
    </header>
    <!-- article content here -->
    <footer>
        <p><small>Copyright &copy;2017 Jennifer Robbins.</small></p>
        <nav>
            <ul>
                <li><a href="/">Previous</a></li>
                <li><a href="/">Next</a></li>
            </ul>
        </nav>
    </footer>
</article>
</body>
</html>
